<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schiztech.rovers.actions.battery" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:exported="true"
            android:name="com.schiztech.rovers.actions.battery.CreateBatteryActionActivity"
            android:excludeFromRecents="true"
            android:label="@string/roveraction_battery_label"
            android:icon="@drawable/ic_battery_action"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.schiztech.rovers.action" />
            </intent-filter>
            <meta-data
                android:name="description"
                android:value="@string/roveraction_battery_desc" />
        </activity>

        <provider
            android:name="com.schiztech.rovers.actions.battery.BatteryLevelProvider"
            android:authorities="com.schiztech.rovers.actions.battery"
            android:enabled="true"
            android:exported="true"
            android:process=":provider">
        </provider>
    </application>

</manifest>
